<table class="table-fixed text-7xl">
  <tr>
    <td><%= render 'games/field', game: game, player: player, field_nr: 1 %></td>
    <td><%= render 'games/field', game: game, player: player, field_nr: 2 %></td>
    <td><%= render 'games/field', game: game, player: player, field_nr: 3 %></td>
  </tr>
  <tr>
    <td><%= render 'games/field', game: game, player: player, field_nr: 4 %></td>
    <td><%= render 'games/field', game: game, player: player, field_nr: 5 %></td>
    <td><%= render 'games/field', game: game, player: player, field_nr: 6 %></td>
  </tr>
  <tr>
    <td><%= render 'games/field', game: game, player: player, field_nr: 7 %></td>
    <td><%= render 'games/field', game: game, player: player, field_nr: 8 %></td>
    <td><%= render 'games/field', game: game, player: player, field_nr: 9 %></td>
  </tr>
</table>
