<%= turbo_stream_from @player, "board", channel: GameChannel %>

<div>
  <h1 class="!text-3xl"><text class="text-orange-400">Player: </text><%= @player.character %> <%= @player.name %></h1>
  <h1><text class="text-orange-400">Game ID: </text><%= @game.id %></h1>
  <h1>
    <text class="text-orange-400">Your Opponent: </text>
    <%= render 'games/opponent_name', opponent: @player.opponent %>
  </h1>
  <div class="my-5 text-xl text-orange-400">
    <%= link_to 'Leave game >>>', root_path, class: "border-2 border-solid py-1 px-3 border-orange-400 rounded-lg" %>
  </div>
</div>

<div class="flex justify-center mt-10">
  <div id="board" class="max-w-md rounded overflow-hidden shadow-lg p-5 text-2xl">
    <% if @game.all_players_present? %>
      <%= render 'board', game: @game, player: @player %>
    <% else %>
      To play, another player needs to sign in. You can simply send them this link:
      <br>
      <div class="mt-5">
        <%= link_to game_url(@game), game_url(@game), target: '_blank', class: 'text-blue-700 underline underline-offset-2' %>
      </div>
    <% end %>
  </div>
</div>
