<div>
  <h2>Player: <%= @player.name %></h2>
  <h2>Game ID: <%= @game.id %></h2>
  <%= link_to 'Leave game >>>', root_path %>
</div>

<div>
  <% if @game.all_players_present? %>
    <%= render 'board', game: @game %>
  <% else %>
    To play, another player needs to sign in. You can simply send them this link:
    <br>
    <%= link_to game_url(@game), game_url(@game), target: '_blank' %>
  <% end %>
</div>
