<!DOCTYPE html>
<html>
  <head>
    <title>RailsConf 2023</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="w-screen h-screen">
    <div class="text-4xl text-center font-serif mb-10">
      <span>The Epic Game</span>
      <span class="text-red-700">for Alagaësia</span>
    </div>
    <div class="p-1">
      <%= render 'shared/flashes' %>
      <%= yield %>
    </div>
  </body>
</html>
